<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/game.css}" rel="stylesheet">
    <title>游戏开始</title>
</head>
<body>
    <div class="wrapper">
        <canvas id="oc">
            <span>您的浏览器不支持canvas元素，请您更换浏览器后重新打开</span>
        </canvas>
    </div>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/js/game.js}"></script>
</body>
</html>