<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/game.css}" rel="stylesheet">
    <title>游戏开始</title>
</head>
<body>
    <div class="wrapper">
        <span class="title" th:text="${firstPuzzle.title}"></span>
        <button th:attr="sign =@{1}" id="optionA" type="button" th:text="${firstPuzzle.optionA}"></button>
        <button th:attr="sign =@{2}" id="optionB" type="button" th:text="${firstPuzzle.optionB}"></button>
        <button th:attr="sign =@{3}" id="optionC" type="button" th:text="${firstPuzzle.optionC}"></button>
        <button th:attr="sign =@{4}" id="optionD" type="button" th:text="${firstPuzzle.optionD}"></button>
    </div>
    <input type="hidden" id="answer" th:value="${firstPuzzle.answer}">
    <input type="hidden" id="order" th:value="${firstPuzzle.order}">
    <input type="hidden" id="puzzleSize" th:value="${puzzleSize}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/js/game.js}"></script>
</body>
</html>